<!DOCTYPE html>
<html>
  <head>
    <title><%- page.title ? `${page.title} &middot; ${config.title}` : config.title %></title>

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

    <%- partial('partial/meta') %>
    <%- css('style.css') %>
  </head>

  <body>
    <%- partial('partial/header') %>

    <%- body %>

    <%- partial('partial/footer') %>
  </body>
</html>
