<main class="posts">
  <% site.posts.sort('date', -1).each(post => { %>
    <article>
      <h2>
        <a href="<%- url_for(post.path) %>"><%- post.title %></a>
      </h2>

      <p class="post-meta">
        <time datetime="<%- moment(page.date).toISOString() %>">
          Posted on <%- date(post.date, 'D MMMM YYYY') %>
        </time>
      </p>

      <p><%- strip_html(post.excerpt) %></p>
    </article>
  <% }); %>
</main>
